
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            overflow: hidden;
        }

        .gamecontainer {
            background: url('./background.jpg');
            background-repeat: no-repeat;
            background-size: 100vw 100vh;
            height: 100vh;
            width: 100%;
            z-index: -1;
        }

        .player {
            position: absolute;
            background-image: url('./player.png');
            background-repeat: no-repeat;
            /* border: 2px solid red; */
            background-size: cover;
            height: 15vh;
            width: 15vw;
            z-index: 2;
            /* left: 1vw; */
            /* top: 10vh; */
            bottom: 2vh;
        }

        .dragon {
            position: absolute;
            background-image: url('./Dinasour.png');
            background-repeat: no-repeat;
            /* border: 2px solid blue; */
            background-size: cover;
            height: 30vh;
            width: 10vw;
            right: 13vw;
            z-index: 2;
            /* top: 10vh; */
            bottom: 0vh;
        }

        .movedragon {
            animation: movedrag 3s linear infinite;
            animation-play-state: paused;
        }

        @keyframes movedrag {
            0% {
                left: 100vw;
            }

            100% {
                left: -10vw;
            }
        }

        .animatejump {
            animation: jump 1s;
        }

        @keyframes jump {
            0% {
                bottom: 0vh;
            }

            50% {

                bottom: 48vh;
            }

            100% {
                bottom: 0vh;

            }
        }

        .gameover {
            position: absolute;
            left: 38%;
            top: 8vh;
            /* display: none; */
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: black;

        }

        #btn {
            position: absolute;
            top: 42vh;
            left: 42vw;
            height: 16vh;
            width: 17vw;
            background-color: lawngreen;
            border-radius: 10%;
            font-size: 1.5rem;
            transition: all 1s;
            cursor: pointer;
        }

        #btn:hover {
            transform: scale(1.2);
        }

        .score {
            position: absolute;
            font-size: 2rem;
            right: 2vw;
            top: 1vh;
        }
        .losted
        {
            animation: lost 0.4s linear;
        }
        @keyframes lost {
            0%
            {
                /* top: 0px; */
                bottom: 0px;
            }
            50%
            {
                /* top: 0px; */
                bottom: 310px;
            }
            100%
            {
                /* top: 0px; */
                bottom: 0px;
            }
        }
    